<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO Name Space -->
<mapper namespace="com.joonhyun.webproject.dao.StudentDao">

	<!-- 학생 리스트 조회 -->
	<select id="selectStudentList" resultType="com.joonhyun.webproject.dao.vo.StudentVo">
		SELECT * FROM apply_student a
		LIMIT #{pagination.startIndex}, #{pagination.pageSize}
	</select>

	<insert id="insertStudent" parameterType="com.joonhyun.webproject.dao.vo.StudentVo">
		INSERT INTO apply_student (
					student_code, interview_group_code, name, gender, birth
				  , pass_yn, entrance_yn, friendship_yn, friendship_description
				  , create_date, update_date
		) VALUES (
				    #{studentCode}, #{interviewGroupCode}, #{name}, #{gender}, #{birth}
		    	  , #{passYn}, #{entranceYn}, #{friendshipYn}, #{friendshipDescription}
				  , sysdate(), sysdate()
		)
	</insert>

	<select id="selectStudentCount" resultType="java.lang.Integer">
		SELECT COUNT(a.student_code) FROM apply_student a
	</select>
</mapper>
