<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO Name Space -->
<mapper namespace="com.joonhyun.webproject.dao.StudentDao">

	<!-- 검색 조건 -->
	<sql id="searchCondition">
		<choose>
			<when test='entranceYn != "" and entranceYn != null'>
				WHERE entrance_yn = #{entranceYn}
				ORDER BY create_date DESC
			</when>
			<when test='entranceYn == "" or entranceYn == null'>
				ORDER BY create_date DESC
				LIMIT #{pagination.startIndex}, #{pagination.pageSize}
			</when>
		</choose>
	</sql>

	<!-- 학생 조회 -->
	<select id="selectStudent" resultType="com.joonhyun.webproject.dao.vo.StudentVo">
		SELECT a.*
		FROM apply_student a
		WHERE a.student_code = #{studentCode}
	</select>

	<!-- 학생 리스트 조회 -->
	<select id="selectStudentList" resultType="com.joonhyun.webproject.dao.vo.StudentVo">
		SELECT a.*
			 , IFNULL(b.interview_group_name, '에러 발생, 관리자에게 문의하세요.') as interviewGroupName
		FROM apply_student a
			LEFT JOIN interview_group b
				on a.interview_group_code = b.interview_group_code
		<include refid="searchCondition"/>
	</select>

	<!-- 청탁학생 리스트 조회 -->
	<select id="selectRequestStudentList" resultType="com.joonhyun.webproject.dao.vo.RequestStudentVo">
		SELECT a.student_code
		     , a.name
			 , b.interview_group_name
			 , a.gender
			 , a.friendship_yn
			 , a.friendship_description
			 , CASE
				   WHEN vl.student_code is not null and vl.room_code is not null THEN '3'
				   WHEN vl.name is not null and vl.room_code is not null THEN '2'
				   WHEN vl.name is not null THEN '1'
				   WHEN a.friendship_yn = 'Y' THEN '1'
				   ELSE '0'
			   END as request
			 , a.create_date
		FROM apply_student a
			 LEFT JOIN interview_group b
				   on b.interview_group_code = a.interview_group_code
			 LEFT JOIN visit_log vl
				   on a.birth = vl.birth and a.name = vl.name
		WHERE entrance_yn = 'Y'
		ORDER BY a.create_date DESC, request desc
	</select>

	<!-- 학생 등록 -->
	<insert id="insertStudent" parameterType="com.joonhyun.webproject.dao.vo.StudentVo">
		INSERT INTO apply_student (
					student_code, interview_group_code, name, gender, birth
				  , pass_yn, entrance_yn, friendship_yn, friendship_description
				  , create_date, update_date
		) VALUES (
				    #{studentCode}, #{interviewGroupCode}, #{name}, #{gender}, #{birth}
		    	  , #{passYn}, #{entranceYn}, #{friendshipYn}, #{friendshipDescription}
				  , sysdate(), sysdate()
		)
	</insert>

	<!-- 학생 수정 -->
	<update id="updateStudent" parameterType="com.joonhyun.webproject.dao.vo.StudentVo">
		UPDATE apply_student SET interview_group_code = #{interviewGroupCode}
		                       , name = #{name}
		                       , gender = #{gender}
		                       , birth = #{birth}
		                       , pass_yn = #{passYn}
		                       , entrance_yn = #{entranceYn}
		                       , friendship_yn = #{friendshipYn}
		                       , friendship_description = #{friendshipDescription}
		                       , update_date = sysdate()
		 WHERE student_code = #{studentCode}
	</update>

	<!-- 학생 삭제 -->
	<delete id="deleteStudent" parameterType="com.joonhyun.webproject.dao.vo.StudentVo">
		DELETE
		FROM apply_student
		WHERE student_code = #{studentCode}
	</delete>

	<!-- 학생 리스트 카운트 -->
	<select id="selectStudentCount" resultType="java.lang.Integer">
		SELECT COUNT(a.student_code) FROM apply_student a
	</select>
</mapper>
